@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="quizForm" class="form-group">
            Waiting for available quiz...
        </div>

        <div id="quizSubmit" class="form-group" style="display:none">
            <input type="submit" value="Submit" class="btn btn-primary" onclick="return formSubmitCheck();" />
            <div id="quizSubmitError" class="text-danger quiz-submit-error"></div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/requirejs/require.js" data-main="/js/quizApp.js"></script>
}