@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p>Last updated: <b>October 31st, 2019</b></p>

<p>
    This simple quiz app tries to make different presentation sessions more interactive.
    In order to achieve that we need to do simple tracking. This means that we want to 
    get single response per question per user and we want to map different responses back to
    the single user.
</p>

<p>
    This application is open source and it can be found from <a href="https://github.com/JanneMattila/QuizMaker" target="_blank">GitHub</a>.
</p>
