@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p>Last updated: <b>June 11th, 2019</b></p>

<p>
    This simple quiz app tries to makes different presentation sessions more interactive.
    In order to achieve that we need to do basic tracking so that we can map different answers to
    single user. Tracking consent expires in 24 hours.
</p>

<p>
    This application is open source and it can be found from <a href="https://github.com/JanneMattila/QuizMaker" target="_blank">GitHub</a>.
</p>
