@model QuizViewModel

@{
    ViewData["Title"] = "Quiz deactivation";
}

<div>
    <h4>Quiz deactivated</h4>
    <hr />
    <p>Active quiz has been deactivated.</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
