@model IEnumerable<QuizViewModel>

@{
    ViewData["Title"] = "Available Quizzes";
}

<h1>Available Quizzes</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                </td>
            </tr>
        }
    </tbody>
</table>
