
@{
    ViewData["Title"] = "Quiz Results";
    ViewData["MinimalLayout"] = true;
}

<h3 id="resultsTitle">Results</h3>

<canvas id="quizChart" width="1024" height="800" class="quiz-results-canvas"></canvas>
<div><text id="users"></text> <text id="responses"></text></div>

@section Scripts {
    <script src="~/lib/chartjs/Chart.min.js"></script>
    <script src="~/lib/systemjs/system.min.js"></script>
    <script>System.import("/js/resultApp.js");</script>
}
