
@{
    ViewData["Title"] = "Results";
    ViewData["MinimalLayout"] = true;
}

<h3 id="resultsTitle">Results</h3>

<svg id="quizChart" width="1024" height="800"></svg>
<div><text id="users"></text> <text id="responses"></text></div>

@section Scripts {
    <script src="~/lib/d3js/d3.v5.min.js"></script>
    <script src="~/lib/requirejs/require.js" data-main="/js/resultApp.js"></script>
}
